 #btn{
    padding: 10px;
    font-size: 24px;
    color: black;
    text-decoration: none;
    margin-left: 30px;
}
.card{
    border: 8px solid black;
    height: 300px;
    width: 30%;
    margin: 10px;
}
