
.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.cards{
    width:24%;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all ease-in-out;
   background-color: rgb(191, 193, 174);
}
.cards:hover{
     scale: 1.05;
}
button{
    margin: 20px;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
}
img{
    width: 140px;
    height: 120px;
}
button:hover{
    background-color: black;
    color: white;
}
.spinner{
    margin-left: 400px;
}
