#border{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 400px;
    width: 25%;
    margin-top: 100px;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    box-shadow: 10px 10px 10px;
}
.main{
    display: flex;
    justify-content: center;
    align-content: center;
}
input{
    padding: 6px 30px 6px 30px;
    text-align: center;
    border-radius: 6px;
    font-size: 16px;
    border: none;
    margin-bottom: -15px;
}
input::placeholder{
    font-size: 16px;
    font-weight: bold;
    color: rgb(45, 31, 60)
}
button{
    padding: 6px 90px 6px 90px;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    
}
button:hover{
    background-color: #1b2845;
    color: white;
}
h2{
    color: white;
    font-size: 35px;
    font-family: "Josefin Sans", sans-serif;
    margin-top: -15px;
}
